@font-face {
  font-family: 'Avenir Black';
  src: url('../public/fonts/AvenirBlack.ttf') format('truetype');
}
body {
  font-family: 'Avenir Black';
  letter-spacing: 0.8px;
  margin: 0;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #1f3864;
  color: #fefce6;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #fefce6;
  }
}
.navbar-othersdiv {
  display: inline-flex;

  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  a {
    margin: 0 10px;
    padding: 0 25px;
  }
}
.navbar-logodiv {
  display: inline-flex;
  align-content: center;
  margin: 0;

  p {
    margin: 0;
    padding: 0;
  }
}

.zonemap-main-div {
  display: flex;
  justify-content: space-between;
}
.zonemap-imagecontainer-div {
  margin: 0;
  width: 675px;
}
.zonemap-information-div {
  padding: 30px;
  color: #1f3864;
}

.homepage-zone-ul {
  display: grid;
  grid-template-areas: 'zone1 zone2' 'zone3 zone4';
  color: #3d5786;
  a {
    text-decoration: none;
    color: #3d5786;
  }
}
.zone1 {
  grid-area: zone1;
}
.zone2 {
  grid-area: zone2;
}
.zone3 {
  grid-area: zone4;
}
.zone4 {
  grid-area: zone3;
}

.event-grid {
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listing-img {
  display: block;
  width: 90px;
  margin: 0 auto;
  
}

.event-card {
  padding: 1em;
  width: 18em;
  height: 20em;
  background-color: rgb(255, 255, 255);
  border-radius: 1.5em;
  margin: 1em;
  justify-content: space-around;
  /* box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527); */
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
  border: 2px solid #1f3864;
}

.name {
  color: #1f3864;
  font-family: 'Avenir Black';
  text-align: center;
}

.description {
  color: #1f3864;
  font-family: 'Avenir';
  text-align: center;
}
