@font-face {
  font-family: 'Avenir Black';
  src: url('../public/fonts/AvenirBlack.ttf') format('truetype');
}
body {
  font-family: 'Avenir Black';
  letter-spacing: 0.8px;
  margin: 0;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  overflow: hidden;
  background-color: #1f3864;
  color: #fefce6;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #fefce6;
  }
}
.navbar-othersdiv {
  display: inline-flex;

  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  a {
    margin: 0 10px;
  }
}
.navbar-logodiv {
  display: inline-flex;
  align-content: center;
  margin: 0;
  padding: 0 0 0 20px;

  p {
    margin: 0;
  }
}

.zonemap-main-div,
.zoneattractions-main-div {
  display: flex;
  justify-content: space-between;
}
.zonemap-imagecontainer-div,
.zoneattractions-imagecontainer-div {
  margin: 0;
  width: 675px;
}
.zonemap-information-div,
.zoneAttractions-information-div {
  padding: 30px;
  color: #1f3864;
}
.zonepage-attractions-ul {
  color: #1d262d;
  a {
    text-decoration: none;
    color: #1d262d;
  }
}
.homepage-zone-ul {
  display: grid;
  grid-template-areas: 'zone1 zone2' 'zone3 zone4';
  color: #1d262d;
  a {
    text-decoration: none;
    color: #1d262d;
  }
}
.zone1 {
  grid-area: zone1;
}
.zone2 {
  grid-area: zone2;
}
.zone3 {
  grid-area: zone4;
}
.zone4 {
  grid-area: zone3;
}
